.wrapper-section-1 {
  height: 100vh;
  padding: 110px 20px;
  text-align: center;
  background-color: var(--theme);
  color: white;
}

.search-bar {
  margin: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.search-input {
  width: 50%;
  padding: 10px;
  border: 2px solid white;
  border-radius: 20px;
  outline: none;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .search-bar {
    flex-direction: column;
  }
  .search-input {
    width: 90%;
  }
}

.table {
  margin-top: 30px;
  text-align: center;
}

.table-header {
  background-color: aquamarine !important;
  color: black;
}

.contact-link {
  text-decoration: none;
  color: aquamarine;
}

.contact-link:hover {
  text-decoration: underline;
}
