.signup-container {
    background-color: var(--theme);
    height: 100vh;
    padding: 40px;
    color: var(--black);
    padding-top: 120px;
  }
  
  .signup-container h1 {
    padding: 20px 40px;
    text-align: center;
    color: var(--links);
  }
  
  .signup-wrapper {
    border: 2px solid #86ead4;
    color: #86ead4;
    margin: 0px 200px;
    display: flex;
    border-radius: 25px;
    align-items: center;
    padding: 20px 50px;
    justify-content: space-evenly;
    gap: 40px;
  }
  
  @media screen and (max-width: 768px) {
    .signup-container {
      height: auto;
      padding: 40px;
      color: var(--black);
    }
    .signup-wrapper {
      margin: 0px;
      display: block;
      padding: 20px 50px;
      gap: 40px;
    }
  }
  
  .signup-label {
    font-weight: 600;
  }
  
  .signup-link {
    text-decoration: none;
    color: var(--color1);
    font-weight: 600;
  }
  
  
  .signup-input-password::placeholder {
    color: rgba(255, 255, 255, 0.171);
  }
  
  .signup-input-password:focus::placeholder {
    color: rgba(255, 255, 255, 0.171);
  }
  
  .signup-input-password:focus {
    color: var(--links);
    background-color: var(--theme);
  }
  
  .signup-btn {
    padding: 8px;
    outline: none;
    width: 100%;
    border-radius: 8px;
    color: var(--links);
    background-color: var(--theme);
    border: 2px solid #86ead4;
  }
  
  .signup-btn:hover {
    border: 2px solid #fff;
    color: var(--theme);
    font-weight: 600;
    background-color: var(--links);
  }